<!DOCTYPE html>
<html>
 <head>
 <link rel="stylesheet" href="assets/stylesheets/pets.css">

 </head>
     <title>Tanya's Pet Store</title>
 <body>
<h1>If you're looking for a new friend, you've come to the right place!</h1>
<p>HHere, we have every pet you can imagine! Browse now!</p>
<ul>
	<li><a href="https://www.yelp.com/biz/nam-phuong-atlanta">Nam Phuong</a></li>
	<li>Hankook</li>
	<img src="http://www.atlantaeats.com/wp-content/uploads/2016/05/Hankook-sesame-fries-600x400.jpeg" width="400" alt="Sesame fries with homemade chipotle ketchup">
	<li>Buena Gente Food Truck</li>
	<li id="fave">Rawesome</li>
	<li>Mediterranean Grill</li>
	<li><a href="my_kitchen.html">My Kitchen</a></li>
</ul>

</body>

</html>
